/* INDEX
*HEADER-NAV fixed nav on the top

*/

/* COMMON STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight:600;
}
.relative{
    position: relative;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.inline-block{
    display: inline-block;
}
.block{
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.large-container{
    width: 80%;
    max-width: 1600px;
    margin: auto;
}
.small-container{
    width: 70%;
    max-width: 1400px;
    margin: auto;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
/*/// COMMON STYLES */

/* BUTTONS */
.blue-button{
    background-color: rgb(0, 97, 255);
    color: white;
}
a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    vertical-align: middle;
}
/* ////BUTTONS */

/* TYPO */
header h1{
    font-size: 5rem;
}
h2{
    font-size: 2rem;
}
header .large-container div.relative i{
    font-size: 3rem;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 900;
}
/* ///TYPO */

/* HEADER */
/* header navbar */
#header-nav{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: white;
    z-index: 2;
}
#header-nav li{
    display: inline-block;
    padding: 25px 15px;
}
/* ///header navbar */
/* header banner */
header section{
    background-color: rgb(180, 208, 231);
}
header section .large-container{
    padding: 150px 0 100px 0;
}
header p{
    width: 35%;
    min-width: 150px;
}
header h1{
    margin-bottom: 50px;
}
header .large-container img.banner{
    width: 60%;
    position: absolute;
    top: 0%;
    left: 40%;
}
header .large-container div.relative a{
    margin-bottom:10px;
}
header .large-container div.relative p{
    margin-bottom:20px;
}
/* ////header banner */
/* ///HEADER */

/* MAIN */

/* BUSINESS PLAN SECTION */
#business-plan{
    margin: 200px 0 0 20px;

}
#business-plan h2{
    margin-bottom: 50px;
}
#business-plan .small-container .radiobutton input[type=radio]{
    transform:scale(1.5);
    margin: 0 0 40px 10px;
}
.lightgrey-border{
    border: solid rgb(208, 208, 211) 1px;
}

.column{
    width: calc(100%/3 - 40px/3);
    text-align: center;
}
.column.left{
    margin-right: 20px;
}
/* BUSINESSPLAN TABLE */
#business-plan .small-container .table .column-title{
    padding: 10px 0;
    font-size: 1.2rem;
    border-bottom: solid rgb(208, 208, 211) 1px;
}
#business-plan .small-container .table .column-content{
    width: 80%;
    margin: auto;
    text-align: left;
}
#business-plan .small-container .table .column-content li{
    margin-top: 30px;
}
#business-plan .small-container .table .column-content li span{
    color: rgb(0, 97, 255);
}
#business-plan .small-container .table .column-content .fa-ul{
    margin-left: 10%;
}
#business-plan .small-container .table .column-content h4{
    margin-top: 40px;
}
#business-plan .small-container .table .column-content h3{
    margin-top: 30px;
}
#business-plan .small-container .table .column-content p{
    margin-top: 20px;
}
#business-plan .small-container .table .column-content .grey-text{
    color: rgb(106, 121, 134);
    margin-top: 10px;
}
#business-plan .small-container .table .column-content a{
    margin-top: 50px;
}
#business-plan .small-container .table .column-content .small-line{
    margin-top: 20px;
    width: 50px;
    border-bottom: solid rgb(208, 208, 211) 1px;
}
#business-plan .small-container .table .column-content a.link{
    padding-left: 0px;
    text-decoration: underline;
    color: blue;
}
#business-plan .column{
    height: 1100px;
}
/* ////BUSINESSPLAN TABLE */

/*ENTERPRISE SECTION*/
#enterprise .small-container .text-container{
    width: 100%;
    padding: 10px 20px;
}
/*////ENTERPRISE SECTION*/

/*//// MAIN */