/* INDEX
*HEADER-NAV fixed nav on the top

*/

/* COMMON STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.relative{
    position: relative;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.inline-block{
    display: inline-block;
}
.block{
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.large-container{
    width: 80%;
    max-width: 1600px;
    margin: auto;
}
.small-container{
    width: 70%;
    max-width: 1400px;
    margin: auto;
    height: 800px;
    background-color: pink;
}
/*/// COMMON STYLES */

/* BUTTONS */
.blue-button{
    background-color: rgb(0, 97, 255);
    color: white;
}
a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    vertical-align: middle;
    font-weight:600;
}
/* ////BUTTONS */

/* TYPO */
header h1{
    font-size: 5rem;
}
h2{
    font-size: 2rem;
}
header .large-container div.relative{
    font-weight: 600;
}
header .large-container div.relative i{
    font-size: 3rem;
}
/* ///TYPO */

/* HEADER */
/* header navbar */
#header-nav{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: white;
    z-index: 2;
}
#header-nav li{
    display: inline-block;
    padding: 25px;
}
/* ///header navbar */
/* header banner */
header section{
    background-color: rgb(180, 208, 231);
}
header section .large-container{
    padding: 150px 0 100px 0;
}
header p{
    width: 35%;
    min-width: 150px;
}
header h1{
    margin-bottom: 50px;
}
header .large-container img.banner{
    width: 60%;
    position: absolute;
    top: 0%;
    left: 40%;
}
header .large-container div.relative a{
    margin-bottom:10px;
}
header .large-container div.relative p{
    margin-bottom:20px;
}
/* ////header banner */
/* ///HEADER */

/* MAIN */

/* BUSINESS PLAN SECTION */
#business-plan{
    margin: 200px 0 0 20px;

}
#business-plan h2{
    margin-bottom: 50px;
}
.column{
    height: 500px;
    background-color: powderblue;
    width: calc(100%/3 - 40px/3);
}
.column.left{
    margin-right: 20px;
}
/*//// BUSINESS PLAN SECTION */

/*//// MAIN */